/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
  font-family: 'PT Sans', sans-serif;
  min-height: 740px;

  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*
  Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
  ... and give links a nice look.
*/
a {
  color: inherit;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255,255,255,0.5);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
  border-radius: 0.2em;

  -webkit-transition: 0.5s;
  -moz-transition:    0.5s;
  -ms-transition:     0.5s;
  -o-transition:      0.5s;
  transition:         0.5s;
}

a:hover,
a:focus {
  background: rgba(255,255,255,1);
  text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/*
  Because the main point behind the impress.js demo is to demo impress.js
  we display a fallback message for users with browsers that don't support
  all the features required by it.

  All of the content will be still fully accessible for them, but I want
  them to know that they are missing something - that's what the demo is
  about, isn't it?

  And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}

.fallback-message p {
  margin-bottom: 10px;
}

.impress-supported .fallback-message {
  display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
  position: relative;
  width: 1280px;
  height: 768px;
  padding: 140px; /* for logo*/
  margin: 0 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;

  font-family: 'PT Serif', georgia, serif;
  font-size: 30px;
  line-height: 1.5;
}

imgbg {
  position: fixed;
  z-index: -200;
  opacity: 0;
  width: auto;
}

/*imgbg {
  position: fixed;
  z-index: -200;
  opacity: 0;
  height: 50%;
  width: auto;
} */

#bg-1 {
  left: 0px;
  top: 0px;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/

h6 {
  font-size: 30px 
}
h5 {
  font-size: 35px 
}

h4 {
  font-size: 40px 
}

h3 {
  font-size: 45px 
}

h2 {
  font-size: 50px 
}

h1 {
  font-size: 55px 
}

h3, 
h4 {
  color: #ff8800;
  font-weight: bold;
}

h5, 
h6 {
  color:#003399
}

th,
td
{
width:100px;
height:50px;
text-align :center;
}  


.impress-enabled .step {
  margin: 0;
  opacity: 0.01;
}

.impress-enabled .step.active { 
  opacity: 1;
} 


/*************** Slide specific things ****************************/

#TITLE {
  text-shadow: 20px 20px 10px rgba(0, 0, 0, .4);
  text-align: center;
  font-weight: bold;
  color: #003399;

/*  background-image: url(../EM/EM-beamer/images/uestclogo-18.png);
  background-position: bottom right;
  background-repeat: no-repeat;
*/

/*** For first slide ** */
}
#TITLE h1 {
  font-size: 90px;
  margin-top: 20px;
  -webkit-transform: translateZ(50px);
  -moz-transform:    translateZ(50px);
  -ms-transform:     translateZ(50px);
  -o-transform:      translateZ(50px);
  transform:         translateZ(50px);
}
#TITLE h2 {
  font-size: 40px;
  margin-top: 10px;
}

#TITLE .at {
  font-display:inline-block;
  color: #ff8800;
}

#TITLE .date {
  font-display:inline-block;
  font-size: 28px;
}

/*** TOC ** */
#TOC {}


.step .big {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}
.step .small {
  text-align: center;
  font-size: 25px;
}

.step .exam, 
.step .answer,
.step .proof,
.step .tips,
.step .over {
  color:#ff8800
}

.step .item {
  color:#003399
}

.step .Thanks {
  padding: 100px;
  color: #ff8800;
  display: block;
  font-size: 150px;
  line-height: 200px;
  text-shadow: 10px 10px 10px rgba(91, 114, 89, 0.95);
}

.step .imgmixed {
  position: relative;
  margin-top: -100px; 
  float:right;
}


